@{
    ViewData["Title"] = "Dark Home Page";
}

<div class="text-center" style="background:#000000">
    <h1 class="display-4" style="color:white">Welcome to your Pokedex!</h1>
    <p>
        <img src = "https://assets.pokemon.com/assets/cms2/img/pokedex/full/093.png">
    </p>
</div>
