@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your Pokedex!</h1>
    <p>
        <img src = "https://images-na.ssl-images-amazon.com/images/I/41AP0SLv5BL._SX425_.jpg">
    </p>
</div>
