@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Invalid Pokemon name... Maybe I can help?</h1>
  <p>
    <img src = "https://media.giphy.com/media/7ZRwrAdUaXoaI/giphy.gif">
  </p>
</div>
